// atribuição de cores
$backgroundMenuBarras : #cf1d22;
$backgroundHover : #810f12;
// cor de font onde estiver com background
$colorMenuBotoes : #fff;

header{
  border-top: #000 solid 4px;
}

// especificações do layout
.navbar-loja{
  background-color: $backgroundMenuBarras;
  color: $colorMenuBotoes;
  border-radius: 0px;
}

.navbar-loja .navbar-nav > li > a{
  color: $colorMenuBotoes;
  text-transform: uppercase;
  transition-duration: 0.5;
  font-size: 17px;
}

.navbar-loja .navbar-nav > li > a:hover,
.navbar-loja .navbar-nav > li > a:hover,
.navbar-loja .navbar-nav > li.active > a,
.navbar-loja .navbar-nav > li.active > a:focus{
  background-color: $backgroundHover;
}

footer{
  background-color: #000;
}
