$innerTopBottom: 35px;
$minHeight: 600px;

.navbar{
  margin-bottom: 0px !important;
}

h1, .h1, h2, .h2, h3, .h3{
  margin-top: 0px !important;
}

.banner{
  margin-top: 25px;
}

.menu-site{
  margin-top: 35px;
}

section{
  padding-top: 15px;
  padding-bottom: 15px;
}

section.barra-superior{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

main{
  min-height: $minHeight;
  /*padding-top: $innerTopBottom;*/
  padding-bottom: $innerTopBottom;
}

footer{
  padding-top: $innerTopBottom;
  padding-bottom: $innerTopBottom;
}

/******** SIDEBAR ********/
.formpesquisa{
  margin-bottom: 30px;
}

/***********************/

.rmpadright{
  padding-right: 0px !important;
}

.rmpadleft{
  padding-left: 0px !important;
}
/*************/
.menu-superior{
  padding: 0;
  margin: 0px;
  list-style: none;
}

.menu-superior li{
  float: left;
  padding: 3px 8px;
}
