// atribuição de cores
$backgroundBarrMenu : #000;
$backgroundMenuBarras : #767777;
$backgroundBotoes:  #cf1d22;
$backgroundBotoesHover : #810f12;
// cor de font onde estiver com background
$colorMenuBotoes : #fff;

header{
  border-top: #000 solid 4px;
}

.price{
  background: #000;
  padding: 7px 12px;
  color: #fff;
  margin-bottom: 0px;
}

.btn-loja{
  background-color: $backgroundBotoes;
  color: $colorMenuBotoes;
  transition-duration: 0.4s;
  border-radius: 0px;
}

.btn-loja:hover{
  background-color: $backgroundBotoesHover;
  color: $colorMenuBotoes !important;
}

//BARRA SUPERIOR
.barra-superior{
  background-color: #810f12;
}

// especificações do layout
.navbar-loja{
  /*background-color: $backgroundBarrMenu;*/
  border-bottom: $backgroundBarrMenu solid 3px;
  color: #333;
  border-radius: 0px;
}

.navbar-loja .navbar-nav > li > a{
  color: #000;
  text-transform: uppercase;
  transition-duration: 0.5s;
  font-size: 17px;
}

.navbar-loja .navbar-nav > li > a:hover,
.navbar-loja .navbar-nav > li > a:hover,
.navbar-loja .navbar-nav > li.active > a,
.navbar-loja .navbar-nav > li.active > a:focus{
  background-color: $backgroundBarrMenu;
  color: #fff !important;
}

footer{
  background-color: #000;
}
