// atribuição de cores
$backgroundBarrMenu : #000;
$backgroundMenuBarras : #767777;
$backgroundBotoes:  #cf1d22;
$backgroundBotoesHover : #810f12;
// cor de font onde estiver com background
$colorMenuBotoes : #fff;

header{
  border-top: #000 solid 4px;
}

.btn{
  border-radius: 0px !important;
}

.price{
  background: #000;
  padding: 7px 12px;
  color: #fff;
  margin-bottom: 0px;
}

.btn-loja{
  background-color: $backgroundBotoes;
  color: $colorMenuBotoes;
  transition-duration: 0.4s;
  border-radius: 0px;
}

.btn-loja:hover{
  background-color: $backgroundBotoesHover;
  color: $colorMenuBotoes !important;
}

.breadcrumb{
  background-color: #f1f1f1;
  border-bottom: #f8f8f8 solid 1px;
  color: $backgroundBotoes
}

.breadcrumb a{
  color: #000;
}

.breadcrumb a:hover{
  color: $backgroundBotoes;
  text-decoration: none;
}

//BARRA SUPERIOR
.barra-superior{
  background-color: #810f12
}

.menu-superior li a{
  color: #fff;
  display: block;
  padding: 3px 10px 8px;
}

.menu-superior li a:hover{
  color: #ccc;
  text-decoration: none;
}

// especificações do layout
.navbar-loja{
  /*background-color: $backgroundBarrMenu;*/
  border-bottom: $backgroundBarrMenu solid 3px;
  color: #333;
  border-radius: 0px;
}

.navbar-loja .navbar-nav > li > a{
  color: #000;
  text-transform: uppercase;
  transition-duration: 0.5s;
  font-size: 17px;
}

.navbar-loja .navbar-nav > li > a:hover,
.navbar-loja .navbar-nav > li > a:hover,
.navbar-loja .navbar-nav > li.active > a,
.navbar-loja .navbar-nav > li.active > a:focus{
  background-color: $backgroundBarrMenu;
  color: #fff !important;
}

footer{
  background-color: #000;
}

footer h3{
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

footer ul{
  padding: 0px;
  list-style: none;
  margin: 0px;
}

footer ul li a{
  color: #333;
  transition-duration: 0.2s;
}

footer ul li a:hover{
  color: #fff;
  text-decoration: none;
}
