body{
  font-family: 'Lato', sans-serif !important;
}

.titulo-produto{
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}

.titulo-home{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
